h1 {
  text-align: center; /*the temporary logo, among other things*/
  color: #000066;
  font-family: "Comic Sans MS";
}

h1.aboutthx {
  text-align: center;
  font-family: Arial Rounded MT;
  font-size: 24px;
  color: red;
}

h1.bestdesign {
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 30px;
  color: cyan;
}

h2.thxcont {
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 20px
    color: darkblue;
}

h3{
  text-align: center;
  font-family: "Papyrus";
  background-color: red;
}

h3.414story{
  text-align: center;
  font-family: arial;
  color: darkblue;
  font-size: 12px;
  background-color: transparent;
}

h5{
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  float: right;
}

h2{
  text-align: center;
  font-family: arial;
  color:  darkblue;
  font-size: 12px;
}

h2.blog414 {
  text-align: center;
  font-family: "Arial Rounded MT";
  font-size: 20px;
  color: black;
}

h2.brandnew{
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  color: black;
}

#container {
  height: 100%;
  width: 100%;
  position: fixed;
}

.buttons { /*these are the buttons found at the top of the page.*/
    text-align: center;
    margin-top: 30px;
    cursor: hand;/*do NOT remove this, or your head will be mine. Jk on the last part.*/
 color:red;
  font-family: "Comic Sans MS"
} 

.logo{ /*The main site logo*/
  display: block;
  margin: 0 auto;
  height: 102;
  width: 298;
}

.welcome{ /*This is the ugly GIF that welcomes you to the site.*/
  display: block;
    margin: 0 auto;
}

.me_irl{
  display:block;
  margin: 0 auto;
}

.mac{
  float: center;
  margin: 0 auto;

 
a{
    background-color: #0066ff;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    font-family: Arial Rounded MT;
    margin: 0 auto;
    color: black;
    text-decoration: none;
}
body{
  background: #339966;
  background: -webkit-linear-gradient(blue, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, yellow); /* Standard syntax */
  
}
